@import url("https://v1.fontapi.ir/css/Vazir");
@tailwind base;
@tailwind components;
@tailwind utilities;

.lg\:space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.space-x-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

*:lang(fa) {
  font-family: Vazir, sans-serif !important;
}
